.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-lightblue{
  background-color: #007bff!important;
}

.thumbnail{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.listClass{
  margin-top: 20px
}
.logout{
  margin-left: 800px;
}
.topAlign{
  margin-top: 13px;
}

@media only screen and (max-width: 1090px) {
  .logout{
    margin-left: 600px;
  }
}

@media only screen and  (max-width: 1160px) and (min-width: 1090px) {
  .logout{
    margin-left: 680px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
